# virtual enviroment
env/*
venv/*
.venv/*

# sphinx documentation
docs/_build/

# python stuff
*.pyc
*.idea
__pycache__

# windows/osx stuff
*.db
*.DS_Store

# test stuff
dist
build

tests/*

*.egg-info
